article.tweet {

  border-radius: 25px;
  margin: 10px;
  text-align: left;
  border:1px solid #244751;
}

article.tweet > header {
  background-color: #eee;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: left;
  padding:10px;
  /*border:1px solid #244751;*/
}

article.tweet > header > img {
  margin: 5px;
  /*float:left;*/
  border-radius: 5px;

}

/*article.tweet > header >*/ span.username {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;

}

/*article.tweet > header >*/ span.handle {
  float:right;

}

article.tweet > div {
  /*padding:10px;*/
  font-style: oblique;
  text-align: left;
  padding:30px;
  padding-right: 10px;
  padding-left: 10px;


}

article.tweet > footer {
  /*border-radius: 25px;*/
  padding:10px;
  text-align: left;
}