article.tweet {
  border-radius: 25px;
  margin: 10px;
  text-align: left;
  border:1px solid #244751;
  opacity: 0.5;
}

article.tweet > header {
  background-color: #eee;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: left;
  padding:10px;
}

article.tweet > header > img {
  margin: 5px;
  margin-bottom: 0;
  border-radius: 5px;

}

article.tweet:hover {
  opacity: 1;
}

/*article.tweet > header >*/ span.username {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;

}

/*article.tweet > header >*/ span.handle {
  float:right;

}

article.tweet > p {
  font-style: oblique;
  text-align: left;
  padding:30px;
  padding-right: 10px;
  padding-left: 10px;
  word-wrap:break-word;
}

article.tweet > footer {
  padding:10px;
  text-align: left;
}

article.tweet > footer > span.tweetbuttons {
  display:none;
  float: right;
  padding:10px;
  text-align: left;
}